@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap";


.navbar-default{
  background-image:none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  border:none;
}
.background{
  background-image: url('../images/BG_cut.png');
  background-size: contain;
  background-repeat: repeat-x;
}
header{
  margin-top: 16px;
}
.navbar-default .navbar-nav{
  li{
    a{
      text-transform: uppercase;
      color: #4d4d4d;
      font-size: 16px;
      font-family: 'Asap', sans-serif;
    }
  }
}
.navbar-default .navbar-nav{
  li{
    a{
      &:after{
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: transparent;
        position: relative;
        bottom: -5px;
      }
    }
  }
}
.navbar-default .navbar-nav{
  li{
    a{
      &:hover:after{
        background-color: #4d4d4d;
      }
    }
  }
}
.navbar-brand{
  margin-top: 15px;
  padding: 0;
}
.navbar{
  margin-bottom: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.container{
  h1{
    color: #4d4d4d;
    font-size: 90px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    margin-top: 200px;
    margin-bottom: 5px;
  }
  p{
    color: #4d4d4d;
    font-size: 22px;
    font-family: 'Asap', sans-serif;
    opacity: 50%;

  }
}
.background {
  .container {
    .row {
      .col-lg-6 {
        a {
          color: #4d4d4d;
          font-size: 16px;
          font-family: 'Asap', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          text-decoration: none;

          .button2 {
            width: 160px;
            height: 50px;
            text-align: center;
            background-color: transparent;
            margin-right: 20px;
            display: inline-block;
            padding: 13px;
            margin-top: 10px;
            border: solid 1px #4d4d4d;
          }

          .button {
            width: 160px;
            height: 50px;
            text-align: center;
            background-color: #ffffff;
            margin-right: 20px;
            display: inline-block;
            padding: 13px;
            margin-top: 10px;

          }
        }
      }
    }
  }
}
.row{
  .col-lg-6{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


//KNOW MORE SECTION


.knowmore{
  margin-top: 110px;
  margin-bottom: 120px;
  background-color: #ffffff;
  .container{
    h2{
      text-transform: uppercase;
      font-size: 46px;
      font-weight: bold;
      font-family: 'Asap', sans-serif;
      color: #4d4d4d;
      margin-top: 90px;
    }
    p{
      font-size: 16px;
      opacity: 100%;
      margin-bottom: 40px;
    }
  }
}
.h2, h2{
  font-size: 46px;
}
.knowmore{
  .container{
    h2{
      &:before{
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #4d4d4d;
        position: relative;
        bottom: 10px;
        left: 2px;
      }
    }
  }
}
.knowmore {
  .container {
    .col-lg-offset-1 {
      margin-bottom: 0;
      margin-top: 0;
      img {
        padding: 0;
      }
    }
  }
}
.knowmore{
  .container{
    .col-lg-5{
      a {
        color: #4d4d4d;
        font-size: 16px;
        font-family: 'Asap', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        .button {
          width: 245px;
          height: 50px;
          background-color: transparent;
          border: solid 1px #4d4d4d;
          text-align: center;
          padding: 13px;
          margin-bottom: 15px;
        }
      }
    }
  }
}


//SERVICES


.services{
  padding-top: 140px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
  text-align: center;
}
.services{
  .container{
    h2 {
      font-size: 46px;
      color: #4d4d4d;
      font-family: 'Asap', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 60px;
      &:before {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #4d4d4d;
        position: relative;
        left: 50%;
        margin-left: -30px;
        bottom: 10px;
      }
    }
  }
}
.services{
  .container{
    h3{
      font-size: 24px;
      color: #4d4d4d;
      font-family: 'Asap', sans-serif;
      margin-bottom: 80px;
    }
  }
}


//SKILLS

.skills{
  padding-top: 140px;
  padding-bottom: 125px;
  background-color: #ffffff;
  text-align: center;
}
.skills{
  .container{
    .row{
      h2 {
        font-size: 46px;
        color: #4d4d4d;
        font-family: 'Asap', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 60px;
        &:before {
          content: "";
          display: block;
          width: 60px;
          height: 4px;
          background-color: #4d4d4d;
          position: relative;
          left: 50%;
          margin-left: -30px;
          bottom: 10px;
        }
      }
    }
  }
}


//PORTFOLIO


.portfolio{
  padding-top: 150px;
  padding-bottom: 125px;
  background-color: #f6f6f6;
  text-align: center;
}
.portfolio{
  .container{
    h2 {
      font-size: 46px;
      color: #4d4d4d;
      font-family: 'Asap', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 60px;
      &:before {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #4d4d4d;
        position: relative;
        left: 50%;
        margin-left: -30px;
        bottom: 10px;
      }
    }
  }
}
.portfolio{
  .container{
    img{
      margin-bottom: 30px;
      &:hover{
        content: ">";
        display: block;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
    }
  }
}
.portfolio{
  .container{
    a {
      color: #4d4d4d;
      font-size: 16px;
      font-family: 'Asap', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      .loadmore {
        width: 190px;
        height: 50px;
        background-color: #ffffff;
        padding: 13px;
        &:hover{
          content: ">";
          display: block;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
      }
    }
  }
}

//TESTIMONIAL


.testimonials {
  padding-top: 150px;
  padding-bottom: 125px;
  background-color: #ffffff;
  text-align: center;
}
.testimonials{
  .container{
    h2 {
      font-size: 46px;
      color: #4d4d4d;
      font-family: 'Asap', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 60px;
      &:before {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #4d4d4d;
        position: relative;
        left: 50%;
        margin-left: -30px;
        bottom: 10px;
      }
    }
  }
}
.containerjs{
  max-width: 955px;
}
.containerjs{
  .js{
    padding: 80px 120px 110px 75px;
    border: solid 1px #4d4d4d;
    .row{
      .col-lg-4{
        padding: 0;
      }
      .col-lg-8 {
        text-align: left;
        padding: 0;
        p{
          font-size: 16px;
          color: #4d4d4d;
          font-family: 'Asap', sans-serif;
          opacity: 100%;
        }
        h3{
          font-family: 'Asap', sans-serif;
          font-size: 30px;
          color: #212121;
          font-weight: 600;
          span{
            display: block;
            font-size: 12px;
            color: #212121;
            font-family: 'Asap', sans-serif;
            text-transform: initial ;
          }
        }
      }
    }
  }
  .carousel-indicators .active{
    border-radius: 0;
    border: solid 1px #000000;
    background-color: #000000;
  }
  .carousel-indicators li{
    border-radius: 0;
    border: solid 1px #000000;
  }
}
.carousel-indicators{
  bottom: -65px;
}


//RESULTS


.results{
  padding-top: 52px;
  padding-bottom: 65px;
  background-color: #f6f6f6;
  text-align: center;
}