@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css";
@import "https://use.fontawesome.com/releases/v5.0.7/css/all.css";
@import "https://kit.fontawesome.com/22e5461dc0.js";
@import "https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.background{
  background-image: url('../images/BG_cut.png');
  background-size: contain;
  background-repeat: repeat-x;
}
header{
  margin-top: 16px;
}
.navbar-default{
  background-image:none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  border:none;
}
.navbar-default .navbar-nav{
  li{
    a{
      text-transform: uppercase;
      color: #4d4d4d;
      font-size: 16px;
      font-family: 'Asap', sans-serif;
    }
  }
}
.navbar-default .navbar-nav{
  li{
    a{
      &:after{
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: transparent;
        position: relative;
        bottom: -5px;
      }
    }
  }
}
.navbar-default .navbar-nav{
  li{
    a{
      &:hover:after{
        background-color: #4d4d4d;
      }
    }
  }
}
.navbar-brand{
  margin-top: 15px;
  padding: 0;
}
.navbar{
  margin-bottom: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.container{
  .row{
    h1 {
    color: #4d4d4d;
    font-size: 90px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    margin-top: 160px;
    margin-bottom: 5px;
    }
  }
  p{
    color: #4d4d4d;
    font-size: 22px;
    font-family: 'Asap', sans-serif;
    opacity: 50%;

  }
}
.background {
  .container {
    .row {
      .col-lg-6 {
        a {
          color: #4d4d4d;
          font-size: 16px;
          font-family: 'Asap', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          text-decoration: none;
          .button {
            width: 160px;
            height: 50px;
            text-align: center;
            background-color: transparent;
            margin-right: 20px;
            display: inline-block;
            padding: 13px;
            margin-top: 10px;
            border: solid 1px #4d4d4d;
            &:hover{
              background-color: #ffffff;
              box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
          }
        }
      }
    }
  }
}
.row{
  .col-lg-6{
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

//KNOW MORE SECTION

.knowmore{
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #ffffff;
}
.knowmore{
  .container{
    .row{
      .col-lg-5{
        h2{
          font-size: 46px;
          font-family: 'Asap', sans-serif;
          font-weight: 800;
          color: #4d4d4d;
          text-transform: uppercase;
          margin-top: 90px;
          &:before{
            content: "";
            display: block;
            height: 4px;
            max-width: 60px;
            background-color: #4d4d4d;
            position: relative;
            bottom: 12px;
          }
        }
        p{
          font-size: 16px;
          font-family: 'Asap', sans-serif;
          font-weight: 600;
          color: #4d4d4d;
          opacity: 100%;
          margin-bottom: 40px;
        }
        a{
          color: #4d4d4d;
          font-size: 16px;
          font-family: 'Asap', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          text-decoration: none;
          .CVbutton{
            width: 245px;
            height: 50px;
            text-align: center;
            background-color: transparent;
            display: inline-block;
            padding: 13px;
            border: solid 1px #4d4d4d;
            &:hover{
              background-color: #ffffff;
              box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
          }
        }
      }
    }
  }
}

//SERVICES

.services{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
  text-align: center;
  .container{
    .row{
      margin-top: 35px;
      margin-bottom: 35px;
      .col-lg-12{
        h2{
          font-size: 46px;
          font-family: 'Asap', sans-serif;
          font-weight: 800;
          color: #4d4d4d;
          text-transform: uppercase;
          &:before{
            content: "";
            display: block;
            height: 4px;
            max-width: 60px;
            background-color: #4d4d4d;
            position: relative;
            left: 50%;
            bottom: 12px;
            margin-left: -30px;
          }
        }
      }
      .col-lg-4{
        p{
          font-size: 24px;
          opacity: 100%;
          color: #4d4d4d;
          font-weight: 600;
          margin-top: 15px;
        }
      }
    }
  }
}

//SKILLS

.skills{
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #ffffff;
  text-align: center;
  .container{
    .row{
      .col-lg-12{
        h2{
          font-size: 46px;
          font-family: 'Asap', sans-serif;
          font-weight: 800;
          color: #4d4d4d;
          text-transform: uppercase;
          margin-bottom: 30px;
          &:before{
            content: "";
            display: block;
            height: 4px;
            max-width: 60px;
            background-color: #4d4d4d;
            position: relative;
            left: 50%;
            bottom: 12px;
            margin-left: -30px;
          }
        }
      }
    }
  }
}

//PORTFOLIO




//TESTIMONIAL





//RESULTS





//CONTACT





//ADAPTIVE

@include max-screen(1200px){
  .skills{
    .container{
      .row{
        .col-lg-12{
          img{
            max-width: 80%;
          }
        }
      }
    }
  }
  .knowmore{
    .container{
      .row{
        img{
          margin-top: 25px;
        }
      }
    }
  }
  .background{
    .container{
      .row{
        h1{
          font-size: 70px;
        }
        p{
          font-size: 20px;
        }
        img{
          max-width: 95%;
        }
      }
    }
  }
}
@include max-screen(992px){
  .services{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .knowmore{
    padding-bottom: 20px;
    padding-top: 20px;
    .container{
      .row{
        .col-md-12{
          h2{
            margin-top: 20px;
          }
        }
      }
    }
  }
  .background{
    .container{
      .row{
        h1{
          font-size: 50px;
        }
        p{
          font-size: 18px;
        }
      }
    }
  }
}
@include max-screen(768px){
  .skills{
    padding: 0;
  }
  .services{
    .container{
      .row{
        .col-lg4{
        }
        .col-lg-12{
          h2{
            font-size: 25px;
          }
        }
      }
    }
  }
  .knowmore{
    .container{
      .row{
        .col-md-12{
          h2{
            font-size: 25px;
          }
          p{
          font-size: 14px;
          }
        }
      }
    }
  }
  .background{
    .container{
      .row{
        h1{
          font-size: 35px;
        }
        p{
          font-size: 16px;
        }
        .col-sm-8{
          a {
            font-size: 14px;
            .button {
              width: 120px;
            }
          }
        }
      }
    }
  }
}

@include max-screen(414px){
  .background{
    .container{
      .row{
        h1{
          margin-top: 30px;
        }
      }
    }
  }
}